body{
    font-family: 'Rubik', sans-serif;
    background: hsl(226, 43%, 10%);
}

.container{
    width: 250px;
    margin: auto;
}

.details{
    background: hsl(246, 80%, 60%);
    color: white;
    display: flex;
    position: relative;
    border-radius: 15px;
    z-index: 10;
    margin-bottom: -7px;
}

.profile-img{
    width: 50px;
    height: 50px;
    background: url(/images/image-jeremy.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid white;
    margin: 20px 0;
    margin-left: 20px;
    margin-right: 10px;
}

.bird{
    font-size: 13px;
    margin-bottom: -15px;
    margin-top: 25px;
    font-weight: 100;
    color: hsl(236, 100%, 87%);
}

span{
    color: white;
    font-weight: 400;
    margin-right: -12px;
}

.time{
    display: flex;
    justify-content: space-around;
    background: hsl(235, 46%, 20%);
    border-radius: 0 0px 13px 13px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 0;
    color: hsl(236, 100%, 87%);
    font-size: 13px;
}

.time p:hover{
    color: white;
    cursor: pointer;
}

#name{
    font-size: 20px;
    font-weight: 300;
}

.two .up{
    background-color: hsl(15, 100%, 70%);
    background-image: url(/images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 190px -10px;
    background-size: 50px;
}

.three .up{
    background: hsl(195, 74%, 62%);
    background-image: url(/images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: 190px;
    background-size: 50px;
}

.four .up{
    background: hsl(348, 100%, 68%);
    background-image: url(/images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: 190px;
    background-size: 50px;
}

.five .up{
    background: hsl(145, 58%, 55%);
    background-image: url(/images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: 190px;
    background-size: 50px;
}

.six .up{
    background:  hsl(264, 64%, 52%);
    background-image: url(/images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: 190px -10px;
    background-size: 50px;
}

.seven .up{
    background: hsl(43, 84%, 65%);
    background-image: url(/images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: 190px -10px;
    background-size: 50px;
}

.up{
    margin-bottom: -15px;
    height: 40px;
    border-radius: 15px 15px 0 0;
}

.down{
    background: hsl(235, 46%, 20%);
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 15px 15px;
    color: white;
}

.down:hover{
    background-color: hsl(235, 45%, 31%);
    cursor: pointer;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.head img{
    height: fit-content;
    margin-top: 20px;
}

.head img:hover{
    cursor: pointer;
}

.head p{
    font-size: 13px;
    font-weight: 500;
}

.tail{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

header{
    font-size: 25px;
    font-size: 300;
}

.tail p{
    font-size: 11px;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
}

@media (min-width: 1100px){
    .container{
        margin-top: 130px;
        width: 1100px;
        height: 500px;
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 220px 220px;
        gap: 25px;
    } 

    .details{
        height: 360px;
        position: relative;
        display: block;
        padding-top: 10px;
        padding-left: 20px;
    }

    .profile-img{
        width: 80px;
        height: 80px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .bird{
        font-weight: 400;
        font-size: 15px;
        margin-bottom: -45px;
        color: hsl(236, 100%, 87%);
    }

    #name{
        font-size: 45px;
        font-weight: 300;
        margin-top: ;
    }

    .time{
        display: block;
        height: 130px;
        margin-top: -20px;
        padding-left: 30px;
        padding-top: 30px;
        font-size: 18px;
    }

    #small{
        margin-left: 10px;
    }

    .two{
        grid-row: 1;
        grid-column: 2;
    }

    .three{
        grid-column: 3;
    }

    .five{
        grid-column: 2;
        margin-top: 40px;
    }

    .six, .seven{
        margin-top: 40px;
    }

    .up{
        margin-bottom: -15px;
        height: 60px;
    }

    .two .up, .three .up, .four .up, .six .up, .seven .up{
        background-position: 155px -10px;
        background-size: 70px;
    }

    .five .up{
        background-size: 70px;
        background-position: 155px 0px;
    }
    
    .down{
        height: 180px;
    }

    .head p{
        font-size: 20px;
    }

    .head img{
        margin-top: 30px;
    }

    .tail{
        display: block;
    }

    header{
        font-size: 50px;
    }

    .tail p{
        font-size: 15px;
    }
}